@import url(./debug.css);
/*----------
Reset
-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="col-"],
.col {
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.inner-box {
  padding: 0.625rem;
}

.section-1,
.section-2 {
  margin-bottom: 1.25rem;
}
