@import url(./debug.css);
/*----------
Reset
-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------bonus--------------------*/
section {
  margin-bottom: 20px;
}
.inner-box {
  padding: 0.625rem;
}

[class*="col-"],
.col {
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}
